# LaTeX Residual Files #
########################
**.ttt
**.lot
**.log
**.pdf
**.gz
**.lof
**.fff
**.aux
**.tex
cache
*_cache/
*_files/
*.html

*.mat

.Rhistory

# Example Data Files #
######################
*.csv
*.zip

/2017*
/2018*


